.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px;
    background-color: #fff;
    border: 10px solid #ffffff;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 19px;
  }
  
  .navbar-menu li a:hover {
    color: #007bff;
  }
  